.c-table {
	&__container {
		padding: 3rem 1rem;

		@include mq($mq-tab,min) {
			padding: 3rem;
		}
	}

	&--responsive {
		width: 100%;
		max-width: 1024px;
		margin: 30px auto;
		padding: 0;
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 16px;
		color: #777;

		a {
			color: inherit;
			text-decoration: none;
		}

		thead {
			display: none;
			background: transparent;
			color: #fff;

			@include mq($mq-mob,min) {
				display: table-header-group;
			}
		}
		
		tr {
			padding: 5px;
			margin-bottom: 10px;
			display: block;

			@include mq($mq-mob,min) {
				display: table-row;
				border-bottom-width: 1px;
				margin-bottom: 0;
			}
		}

		th,
		td {
			padding: 24px 10px;
			text-align: left;
		}

		tbody {
			tr:hover{
				cursor: pointer;
	
				td {
					background-color: $light-grey-bg;
				}
			} 
		}
		
		th {
			text-transform: uppercase;
			border-left: 0;
			border-right: 0;
		}
			
		td {
			display: block;
			text-align: right;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-bottom: 0;
			background-color: $grey-bg;
			
			@include mq($mq-mob,min) {
				display: table-cell;
				text-align: left;
				border-left: 0;
				border-right: 0;
			}
		}
			
		td::before {
			content: attr(data-label);
			float: left;
			text-transform: uppercase;
			font-weight: bold;

			@include mq($mq-mob,min) {
				content: "";
				display: none;
			}
		}
	}

	a:focus {
		background-color: transparent !important;
	}
}
